@page "/center-admin/sciences"
@using System.Threading.Tasks


<div class="card border-0 fade-in">
     <div class="card-body">
          <div class="d-flex align-items-science justify-content-between">
               <h3 class="fw-semibold text-dark mb-0">Fanlar</h3>

               <NavLink href="/center-admin/sciences/create" class="btn btn-sm btn-primary">
                    <i class="bx bx-plus me-1"></i> Qo'shish
               </NavLink>


          </div>
     </div> <!-- end card body -->


     <div class="row p-3 g-3">
          @foreach (var science in science.Items)
          {
               <div class="col-md-4">
                    <div class="card border-1 shadow-sm hover-lift  p-3 position-relative rounded-3">

                         <!-- O‘ng yuqori burchakdagi tugmalar -->
                         <div class="position-absolute top-0 end-0 p-3 d-flex gap-2">
                              <div class="text-primary" title="Tahrirlash">
                                   <i class="fa-regular fa-pen-to-square fa-xl"></i>
                              </div>
                              <div class="text-danger" title="O‘chirish">
                                   <i class="fa-solid fa-trash fa-xl"></i>
                              </div>
                         </div>

                         <div class="d-flex align-items-center gap-2 mt-2">
                              <i class="bi bi-calculator-fill text-primary fs-5"></i>
                              <h5 class="fw-bold text-dark mb-0 fs-5">@science.Name</h5>
                         </div>

                         <div class="text-muted mt-3">
                              Yaratilgan: @science.CreatedAt.ToString("dd MMMM yyyy, HH:mm")
                         </div>

                    </div>
               </div>

          }
     </div>

     @* <div class="align-items-science justify-content-between row g-0 text-science text-sm-start p-3 border-top">
          <div class="col-sm">
               <div class="text-muted">
                    <span class="fw-semibold">@science.Meta?.TotalCount</span> tadan <span
                         class="fw-semibold">@science.Items.Count</span> tasi ko'rsatilmoqda

               </div>
          </div>
          <PaginationComponent Meta="@science.Meta" OnClickEvent="@LoadData"></PaginationComponent>
     </div> *@
</div> <!-- end card -->





@inject ScienceClient scienceClient
@code
{

     protected Collection<Science> science = new();
     protected override async Task OnInitializedAsync()
     {

          await LoadData(1);

          await base.OnInitializedAsync();


     }

     protected async Task LoadData(int page)
     {

          science = new();

          science = (await scienceClient.GetAllAsync(page, 20)).Data!;

     }





}