@page "/center-admin/sciences"
@using System.Threading.Tasks


<div class="card fade-in">
     <div class="card-body">
          <div class="d-flex align-items-science justify-content-between">
               <h4 class="card-title">Fanlar</h4>

               <NavLink href="/center-admin/sciences/create" class="btn btn-sm btn-primary">
                    <i class="bx bx-plus me-1"></i> Qo'shish
               </NavLink>
          </div>
     </div> <!-- end card body -->
     <div class="table-responsive table-centered">
          <table class="table mb-0">
               <thead class="bg-light bg-opacity-50">
                    <tr>


                         <th class="border-0 py-2">Id</th>
                         <th class="border-0 py-2">Nomi</th>

                         <th class="border-0 py-2">Status</th>

                         <th>Yaratilgan vaqti</th>

                         <th>Tahrirlash</th>

                         <th>O'chirish</th>
                    </tr>
               </thead> <!-- end thead-->
               <tbody>

                    @foreach (var item in science.Items.Select((science, index) => new { science, index }))
                    {

                         <tr>

                              <td>@((science.Meta!.Page - 1) * science.Meta.PageSize + item.index + 1)</td>
                              <td>@item.science.Name</td>

                              <td><i class="bx bxs-circle text-success me-1"></i>Active</td>

                              <td>@item.science.CreatedAt</td>

                              <td>
                                   <NavLink href="@($"/science-admin/sciences/{item.science.Id}/edit")">

                                        Tahrirlash
                                   </NavLink>
                              </td>

                              <td>

                                   <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                        data-bs-target="#exampleModalCenter">
                                        o'chirish
                                   </button>
                                   <!-- Modal -->
                                   <div class="modal fade" id="exampleModalCenter" tabindex="-1"
                                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                             <div class="modal-content">
                                                  <div class="modal-header">
                                                       <h5 class="modal-title" id="exampleModalCenterTitle">Modal title
                                                       </h5>
                                                       <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                  </div>
                                                  <div class="modal-body">
                                                       <p>This is a vertically centered modal.</p>
                                                  </div>
                                                  <div class="modal-footer">
                                                       <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Close</button>
                                                       <button type="button" class="btn btn-primary">Save changes</button>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>



                              </td>
                         </tr>
                    }

               </tbody> <!-- end tbody -->
          </table> <!-- end table -->
     </div> <!-- table responsive -->
     <div class="align-items-science justify-content-between row g-0 text-science text-sm-start p-3 border-top">
          <div class="col-sm">
               <div class="text-muted">
                    <span class="fw-semibold">@science.Meta?.TotalCount</span> tadan <span
                         class="fw-semibold">@science.Items.Count</span> tasi ko'rsatilmoqda

               </div>
          </div>
          <PaginationComponent Meta="@science.Meta" OnClickEvent="@LoadData"></PaginationComponent>
     </div>
</div> <!-- end card -->





@inject ScienceClient scienceClient
@code
{

     protected Collection<Science> science = new();
     protected override async Task OnInitializedAsync()
     {

          await LoadData(1);

          await base.OnInitializedAsync();


     }

     protected async Task LoadData(int page)
     {

          science = new();

          science = (await scienceClient.GetAllAsync(page, 20)).Data!;

     }





}