<MudTabPanel Text="To‘lov jadvali" Icon="@Icons.Material.Filled.Payments">
    <MudPaper Elevation="0">
        @if (Sycles == null || !Sycles.Any())
        {
            <MudAlert Severity="Severity.Info">To'lovlar tarixi mavjud emas.</MudAlert>
        }
        else
        {
            <MudTimeline TimelinePosition="TimelinePosition.Left" TimelineAlign="TimelineAlign.Start">

                @foreach (var monthDateTime in months)
                {


                    <MudTimelineItem Color="Color.Dark" Elevation="25">
                        <ItemOpposite>
                         
                            <MudText Color="Color.Dark" Typo="Typo.h6">@monthDateTime.ToUzbekMonth()</MudText>

                        </ItemOpposite>

                        <ItemContent>
                            <MudPaper Elevation="0" Class="mt-n1 pa-2">
                                <MudText Color="Color.Dark" Typo="Typo.h6" GutterBottom="true">@monthDateTime.ToUzbekMonth()
                                </MudText>
                                @foreach (var sycle in Sycles)
                                {
                                    <MudList T="string" Dense="true" DisablePadding="true">
                                        <MudListItem>


                                            <MudText>

                                                @sycle.StudentName:
                                            </MudText>

                                            @{
                                                var payments = sycle.StudentPayments.Where(sp =>

                                                sp.CreatedAt.Year == monthDateTime.Year &&
                                                sp.CreatedAt.Month == monthDateTime.Month).ToList();

                                                <MudStack Class="ml-5">


                                                    @if (payments.Count > 0)
                                                    {

                                                        @foreach (var p in payments)
                                                        {
                                                            <p>
                                                                To'lov sanasi
                                                                <strong class="mud-success-text"> @p.CreatedAt.ToUzbekDate()</strong>
                                                            </p>

                                                            <p>
                                                                To'lov miqdori
                                                                <strong class="mud-text"> @p.Amount.ToSpacedIntString()</strong>
                                                               
                                                            </p>

                                                            <p>To'lov oralig'i : <strong Color="Color.Success">@p.BeginDate.ToUzbekDate() -
                                                                    @p.EndDate.ToUzbekDate()</strong>
                                                            </p>
                                                            <MudDivider />

                                                        }
                                                    }
                                                    else if (sycle.JoinedAt.Year * 12 + sycle.JoinedAt.Month > monthDateTime.Year * 12 +
                                                    monthDateTime.Month)
                                                    {
                                                        <MudText Color="Color.Info">Ushbu davrda bu student mavjud bo'lmagan</MudText>
                                                    }
                                                    else
                                                    {

                                                        <MudText Color="Color.Error">To'lanmagan</MudText>
                                                    }
                                                </MudStack>


                                            }

                                        </MudListItem>
                                    </MudList>

                                }
                            </MudPaper>
                            <MudDivider />
                        </ItemContent>
                    </MudTimelineItem>
                }
            </MudTimeline>
        }
    </MudPaper>
</MudTabPanel>
@code {


    [Parameter]

    public Group? Group { get; set; }


    [Parameter]
    public List<StudentPaymentRowModel>? Sycles { get; set; }

    protected List<MonthViewModel<PaymentModel>> Data { get; set; } = new();

    protected List<DateTime> months = new();






    protected override void OnParametersSet()
    {

        if (Sycles is null || Group is null)
        {
            return;
        }
        months = new();


        DateTime beginMonth = new DateTime(Group.CreatedAt.Year, Group.CreatedAt.Month, 1);
        DateTime currentMonth = new DateTime(DateTime.Today.Year, DateTime.Today.Month, 1);

        while (beginMonth <= currentMonth)
        {
            months.Add(beginMonth);

            beginMonth = beginMonth.AddMonths(1);
        }

        months.Reverse();
        base.OnParametersSet();

    }







    protected class PaymentModel
    {
        public int StudentId { get; set; }
        public string StudentName { get; set; } = string.Empty;

        public DateTime? CreatedAt { get; set; }

        public int? Amount { get; set; }
        public string? BeginDate { get; set; } = string.Empty;
        public string? EndDate { get; set; } = string.Empty;


        public DateTime JoinedAt { get; set; }
    }
}